[Unit]
Description=RClone bisync job
OnFailure=failure-notification@%n

[Service]
# if the launch fails the resync will be required (takes about an hour)
# rclone --log-file rclone.log --log-level INFO --progress --human-readable --no-update-modtime bisync --filters-file $BISYNC_FILTERS_FILE --resync $BISYNC_SOURCE $BISYNC_TARGET
# Or use 
# systemctl --user start rclone-bisync-resync.service
EnvironmentFile=%h/.config/environment.d/rclone-bisync.conf
ExecStart=/usr/bin/rclone --log-systemd --log-level INFO --auto-confirm --human-readable --no-update-modtime bisync --filters-file $BISYNC_FILTERS_FILE $BISYNC_SOURCE $BISYNC_TARGET

[Install]
WantedBy=default.target
