[Unit]
Description=RClone bisync job (fix sync errors)
OnFailure=failure-notification@%n

[Service]
EnvironmentFile=%h/.config/environment.d/rclone-bisync.conf
ExecStart=/usr/bin/rclone --log-systemd --log-level INFO --auto-confirm --human-readable --no-update-modtime bisync --resync --filters-file $BISYNC_FILTERS_FILE $BISYNC_SOURCE $BISYNC_TARGET

[Install]
WantedBy=default.target
