[Unit]
Description=Send a notification about a succeeded systemd unit
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/notify-send --urgency=low --expire-time=5000 "'%i' systemd unit has succeeded. Use 'journalctl --user-unit=%i' to see details"
