[font]
{{ if eq .chezmoi.hostname "dragonlady" -}}
size = 10.0
{{ else if eq .chezmoi.hostname "dragoncave" -}}
size = 11.0
{{ end -}}

[font.bold]
family = "terminus"
style = "Bold"

[font.bold_italic]
family = "terminus"
style = "Bold Italic"

[font.normal]
family = "terminus"
style = "Regular"

[window]
opacity = 0.8
